.byuser > .comment-body > .comment-meta > .comment-author > .fn:after,
.marctv-verified:after {
    content: "\f147";
    background-color: #eaeef3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    color: #3b5998;
    -webkit-font-smoothing: antialiased;
    font: normal 16px/1 'dashicons';
    height: 20px;
    line-height: 20px;
    margin-left: 5px;
    text-align: center;
    width: 20px;
    font-weight: 300;
}

.verified-notice a{
    text-decoration: underline;
}

.verified-notice {
    font-size: 80%;
}

.logged-in .verified-notice,
.logged-in .gravatar-notice {
    display:none;
}

