.byuser > .comment-body > .comment-meta > .comment-author > .fn:after,
.marctv-verified:after {
    content: "\f147";
    display: inline-block;
    width: 21px;
    height: 21px;
    font-size: 17px;
    padding-top: 3px;
    line-height: 1;
    font-family: dashicons;
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    transition: color .1s ease-in 0;
    -webkit-font-smoothing: antialiased;
    background: #33609B;
    margin-left: 5px;
    color: white;
    border-radius: 50%;
    text-align: center;
}

.verified-notice a{
    text-decoration: underline;
}

.verified-notice {
    font-size: 80%;
}

.logged-in .verified-notice,
.logged-in .gravatar-notice {
    display:none;
}

